@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Please read this privacy policy before enrolling in the class:
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Vestibulum porttitor tortor felis, ac dignissim est consectetur eget. 
    Pellentesque lacinia quis mi vel suscipit. Etiam orci purus, vehicula at ultricies eu, ornare eu purus.
    Ut a consequat tortor, suscipit vestibulum nulla. Nam ante lorem, tempus id commodo eget, consequat vel ligula.
    Proin placerat sapien erat, a cursus nunc convallis nec. Nulla accumsan pulvinar malesuada. 
    Donec cursus faucibus ligula. Aliquam elementum facilisis mauris id auctor. Cras varius sit amet massa id porta.
    Nullam bibendum, urna sit amet ullamcorper vehicula, magna neque placerat purus, eu tempor nisl quam sed mauris. 
    Aliquam id porttitor mauris. Vivamus gravida neque nulla, id luctus elit finibus vel. Nunc ut tempor elit.
    Sed vehicula leo augue, eu dictum quam sollicitudin eget. Duis erat nisl, hendrerit id euismod non, varius eu velit. 
    Vivamus interdum enim feugiat arcu porttitor, non laoreet erat bibendum. Proin nisl augue, ullamcorper elementum lectus nec, bibendum finibus eros. 
    Aenean maximus fermentum ex, a aliquam tellus eleifend et. Proin ante libero, rutrum nec nibh sit amet, mattis maximus quam. 
    Cras at neque ut lorem tincidunt imperdiet. Suspendisse potenti. Vivamus a ullamcorper quam, ut hendrerit quam. Mauris non augue ut purus tempus euismod sit amet sit amet ipsum.
</p>

