@model VisheshDevgan_Lab01.Models.ParticipantsResponse

@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content="width=device-width" />
    <title>Yoga Class</title>
</head>

<body>
    <div>
        Please fill the 20th June Yoga class participation form here:
        <form asp-action="RsvpForm" method="post">
            <div asp-validation-summary="All" :></div>
            <p>
                <label asp-for="Name">Enter your name:</label>
                <input asp-for="Name" />
            </p>

            <p>
                <label asp-for="Phone">Enter your Phone:</label>
                <input asp-for="Phone" />
            </p>
            <p>
                <label asp-for="Email">Enter your Email:</label>
                <input asp-for="Email" />
            </p>
            <p>
                <label>Will you be present?</label>
                <select asp-for="WillAttend">
                    <option value="">Choose an option</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>