@model IEnumerable<ParticipantsResponse>


<!DOCTYPE html>

<html>

<head>
    <meta name=" viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body >
    <div class ="panel-body">
        <h3>Here is the list of participants for the yoga class</h3>
        <table class="table table-sm table-stripped table-bordered">
            <thread>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thread>
            <tbody>
            @foreach(ParticipantsResponse r in Model)
            {
                <tr>
                    <td>@r.Name</td><td>@r.Email</td><td>@r.Phone</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</body>
</html>
