@model ParticipantsResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name=" viewport" content="width=device-width" />
    <title>Hey</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

    <body class=" text-center">
        <p>
            <h3>Thank you, @Model.Name!</h3>
            @if (Model.WillAttend == true)
            {
                @:Glad that you are coming. If you wish, you can bring your own yoga mat!
            }

            else
            {
                @:Sorry to hear that you would not come. Hope to see you next time, Namaste!
            }

        </p>
        <div>
            <a class="nav-link" asp-action="ShowResponses"> Click here  to see who is coming.</a>
        </div>
    </body>
</html>