@{ 
   Layout = null;
    
}

<html>
<head>
    <title>Hey</title>
</head>
<body>
    <div>
        <h1>Yoga Class enrollment</h1>
       
        <p>
            Hello! @ViewBag.Greeting
            <br /> This is the enrolment form to join the 20th June yoga class.
        </p>

        <a asp-action="RsvpForm">Click HERE to Enroll</a>
    </div>
</body>
</html>
