<html>
<head>
    <meta name=" viewport" content="width=device-width" />
    <title>Hey</title>
    <link rel="stylesheet" href ="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        
        <h3>Yoga Class enrollment</h3>
       
        <p>
            Hello! @ViewBag.Greeting
            <br /> This is the enrolment form to join the 20th June yoga class.
        </p>

        <a class="btn btn-primary" asp-action="RsvpForm">Enroll</a>
    </div>
</body>
</html>
